.hero {
  height: 420px;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #0f0f0f;
  &-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 15px 0;
    z-index: 1;
    align-items: center;
    font-size: 3.5em;
    justify-content: center;
    color: #fff;
  }

  & .paralax {
    &-container {
      position: absolute;
      top: -30%;
      left: 0;
      height: 160%;
      width: 100%;
    }

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background-position: 50% 50%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
