.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  &-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    height: 25vw;
    width: 100%;
  }

  &-meta {
    text-align: center;
    padding: 7.5px 15px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2em;
    div {
      margin-bottom: 0.5em;
    }
  }
}
