.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #fff;

  &-item {
    padding: 12px 42px;
    flex: 1 1 130px;
    &.w-100 {
      flex: 1 1 100%;
    }

    &--navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 20%;
      }
    }

    &--split-left {
      justify-content: flex-end;
    }
    &--split-right {
      justify-content: flex-start;
    }
  }
}

.site-nav {
  display: flex;
  &--link {
    position: relative;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: 7.5px 15px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    &--underline {
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 100%;
        margin: 0 15px;
        border-bottom: 2px solid #000;
        transition: right 0.5s;
      }
    }
    &:hover {
      .site-nav--link--underline:after {
        right: 0;
      }
    }
  }

  &--icons {
    display: flex;
    &-item {
      font-size: 28px;
      padding: 7.5px 15px;
    }
  }
}
