.collection {
  margin-top: 1em;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--total {
      font-weight: 400;
      font-size: 18px;
    }

    &--sort {
      flex: 0 1 50%;
      padding-left: 7.5px;
      text-align: right;
      select {
        border: 1px solid #e8e8e1;
        max-width: 100%;
        padding: 8px 10px;
        border-radius: 0;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("../../assets/icons/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-color: transparent;
        background-size: 11px;
        padding-right: 28px;
        cursor: pointer;
        color: inherit;
        height: 44px;
        width: 240px;
        font-weight: 400;
        &:focus {
          border: 1px solid;
          border-radius: 0;
          outline: none;
        }
      }
    }
  }

  &-content {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
