.banner {
  padding: 10px 20px;
  background-color: #fdeeed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  &-title {
    margin: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    font-size: 1.6em;
    text-transform: uppercase;
  }

  &-text {
    margin: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
  }

  &-button {
    color: #000;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    display: inline-block;
    padding: 11px 20px;
    width: auto;
    min-width: 90px;
    vertical-align: middle;
    border: 1px solid transparent;
    user-select: none;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid rgba(233, 84, 84, 0.2) !important;
    background-color: transparent;
    font-size: 12px;
    margin: 5px 10px;
    line-height: 1.2;
  }
}
